body {
	background: black;
}
.mainArea{
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
.playerHolder {
	margin: 0 auto;
	width: 800px;
	float: left;
}
h1 { color: white;}

a {
	color: white;
}