<style>
	body {
		background: black;
	}
	.mainArea{
		width: 100%;
	}
	.playerHolder {
		margin: 0 auto;
		width: 800px;
	}
	h1 { color: white;}
</style>

<script type="text/javascript">
	$(function(){
		sublimevideo.ready(function(){
			sublimevideo.prepareAndPlay("aseaVideo");
		});
	});
</script>

<div class="mainArea">
	<h1>Site improvements coming soon...</h1>
	<!-- 
 	<div class="playerHolder">
    <video id="aseaVideo" class="sublime" width="800" height="600" preload="none" autoplay="true">
      <source src="https://s3.amazonaws.com/tdv-video/9890a53740a2330f571bbfdb419a4275.mp4"/>
	    <source src="https://s3.amazonaws.com/tdv-video/8e9a2b072291c4350cf919d58d883019.m3u8"/>
      <source src="https://s3.amazonaws.com/tdv-video/1d8d06125fec1df39d25012ca0d838c8.ogv"/>
      <source src="https://s3.amazonaws.com/tdv-video/e41428b5440528521f1e112d932dc659.webm"/>
    </video>
  </div>
	-->
</div>

