<%= content_for :head do %>
	<title>Team Diamond Vision > Product Presentation</title>
<% end %>

<div class="mainArea">
	<h1>Asea Product Presentation</h1>
	<div><%= link_to 'Asea Opportunity Presentation', opportunity_url %></div>
	<div class="playerHolder">
   <iframe width="853" height="510" src="http://www.youtube.com/embed/w8IfaW-38yE?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

