<script type="text/javascript">
	$(function(){
		sublimevideo.ready(function(){
			sublimevideo.prepareAndPlay("aseaVideo");
		});
	});
</script>

<div class="mainArea">
	<h1>Asea Product Presentation</h1>
	<div class="menu">
		<ul>
			<li><%= link_to 'Asea Opportunity Presentation', opportunity_url %></li>
		</ul>
	</div>
 	<div class="playerHolder">
    <video id="aseaVideo" class="sublime" width="800" height="600" preload="none" autoplay="true">
      <source src="https://tdv-video.s3.amazonaws.com/47470106fafd880045d13a6844049839.mp4"/>
	    <source src="https://tdv-video.s3.amazonaws.com/334809780ad046dadba400a02fbd6fbd.m3u8"/>
      <source src="https://tdv-video.s3.amazonaws.com/1ac3160be07072de45258996227ba2a3.ogv"/>
      <source src="https://tdv-video.s3.amazonaws.com/27ad96c70d76e416145ee18e71491004.webm"/>
    </video>
  </div>
</div>

