<%= content_for :head do %>
	<title>Team Diamond Vision > Opportunity</title>
<% end %>

<div class="mainArea">
	<h1>Asea Opportunity Presentation</h1>
	<div class="menu">
		<ul>
			<li><%= link_to 'Asea Product Presentation', opportunity_url %></li>
		</ul>
	</div>
 	<div class="playerHolder">
   <iframe width="853" height="510" src="http://www.youtube.com/embed/rccu-tv42z0?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
  </div>
	
</div>



