<script type="text/javascript">
	$(function(){
		sublimevideo.ready(function(){
			sublimevideo.prepareAndPlay("aseaVideo");
		});
	});
</script>

<div class="mainArea">
	<h1>Asea Opportunity Presentation</h1>
	<div class="menu">
		<ul>
			<li><%= link_to 'Asea Product Presentation', opportunity_url %></li>
		</ul>
	</div>
 	<div class="playerHolder">
    <video id="aseaVideo" class="sublime" width="800" height="600" preload="none" autoplay="true">
      <source src="https://tdv-video.s3.amazonaws.com/a83cd46f00c8f7d0a9a062d8a9f60e6f.mp4"/>
	    <source src="https://tdv-video.s3.amazonaws.com/e6fad97243e9aa26d28c66ccea55500c.m3u8"/>
      <source src="https://tdv-video.s3.amazonaws.com/dd2d385b928a4a97642a71ab589256e0.ogv"/>
      <source src="https://tdv-video.s3.amazonaws.com/4bfddd5f52933565a1ce4678dbe620fd.webm"/>
    </video>
  </div>
	
</div>

