<!DOCTYPE html>
<html>
<head>
  <title>Tdvvideo</title>
  <%= stylesheet_link_tag :all, 'video-js', 'skins/vim' %>
  <%= javascript_include_tag :defaults, 'video' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
